.container-fluid{
    background-color: #75CDB3;
    border: 5px solid #6A385D;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 85%;
    text-align: center;
    font-size: 20px;
}

h2{
    padding: 5px;
    margin-bottom: 50px;
    text-decoration: underline solid #543F65;
}

.row{
    padding-left: 20px;
    padding-right: 20px;

}

.col-sm-5cols{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
}

.thumbnail img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border: 3px solid #6A385D;
    border-radius: 5px;
}

.thumbnail img:hover{
    border-color: #E50B7B;
    transition: .5s;
    transform: scale(1.05);
}

.cim{
    font-weight: 600;
    color: #543F65;
    font-size: 1vw;
    font-variant: none;
    cursor: default;
}
