.container-fluid{
    background-color: #75CDB3;
    border: 5px solid #6A385D;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 85%;
    text-align: center;
    font-size: 20px;
}

#megtekintettkep{
    margin: 25px;
    border: 3px solid #6A385D;
    border-radius: 5px;
    max-width: 85%;
}

h2{
    font-variant: normal;
    font-weight: 600;
    text-decoration: none;
}

form{
    padding: 10px;
}

.form-group{
    text-align: left;
}

.gomb{
    color: #EBE589;
    font-size: 20px;
    background-color: #5A7A41;
    border-color: #6A385D;
    border-width: 2px;
}

.gomb:hover{
    color: #EBE589;
    background-color: #779721;
}

#kommentgomb{
    padding: 5px 10px 5px 0px;
}

#kommentiras{
    text-align: left;
}

.link{
    color: #543F65;
}

.link:hover{
    color: #E50B7B;
    text-decoration: none;
}

#ertekeles{
    font-size: 30px;
}

article{
    background-color: #EFB261;
    width: 95%;
    margin: 25px auto;
    padding: 0 10px;
    border: 2px solid #6A385D;
    border-radius: 5px;
    overflow-wrap: break-word;
    text-align: left;
}

hr{
    width: 100%;
    border: 1px solid #6A385D;
}