<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/form.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/kepmenu.css}">
        <link rel="icon" sizes="24x24" th:href="@{/HUmmingbird.png}">
        <title>Képfeltöltés - HUmmingbird</title>
    </head>
    <style type="text/css">
        #kepfeltoltes{
            border: 2px solid #6A385D;
            border-radius: 5px;
            font-variant: normal;

        }
    </style>
    <body>
        <nav class="navbar navbar-expand-sm justify-content-center">
            <li class="navbar-brand">
                <img th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepek}">Képek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/versenyek}">Versenyek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/felhasznalo/bejelentkezes}">Profil</a>
                </li>
            </ul>
            <li class="navbar-brand">
                <img id="logoflipped" th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
        </nav>
        <nav class="navbar navbar-expand-xl justify-content-center kepnavbar">
            <ul class="navbar-nav kepnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepFeltoltes}">Képfeltöltés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepek}">Összes kép</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kategoriak}">Kategóriák</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/telepulesek}">Települések</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h2>
                Képfeltöltés
            </h2>
            <br>
            <form th:action="@{/feltoltes}" method="post" enctype="multipart/form-data">
                <div class="form-group custom-file">
                    <label>Kép:</label>
                    <input type="file" id="kepfeltoltes"  accept=".jpg,.png" name="kep" required>
                </div>
                <div class="form-group">
                    <label>Cím:</label>
                    <input type="text" class="form-control" name="cim" required>
                </div>
                <div class="form-group">
                    <label>Település:</label>
                    <input type="text" class="form-control" name="telepules" required>
                </div>
                <div class="form-group">
                    <label>Kategória:</label>
                    <select class="form-select lista" name="kategoria">
                        <th:block th:each="kategoria : ${kategoriak}">
                            <option th:value="${kategoria.getId()}" th:text="${kategoria.getNev()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Verseny:</label>
                    <select class="form-select lista" name="verseny">
                            <option value="0" label="Nincs kiválasztva"></option>
                        <th:block th:each="verseny : ${versenyek}">
                            <option th:value="${verseny.getId()}" th:text="${verseny.getCim()}"></option>
                        </th:block>
                    </select>
                </div>
                <input type="hidden" name="felhasznalo_id" th:value="*{felhasznalo.getId()}" required>
                <button type="submit" class="btn gomb" name="submit">Feltöltés</button>
            </form>
        </div>
    </body>
</html>