<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/kepmenu.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/megtekintes.css}">
        <link rel="icon" sizes="24x24" th:href="@{/HUmmingbird.png}">
        <title th:text="${kep != null} ? (${kep.getCim()} + ' - HUmmingbird') : 'Kép - HUmmingbird'"></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md justify-content-center">
            <li class="navbar-brand">
                <img th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepek}">Képek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/versenyek}">Versenyek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/felhasznalo/bejelentkezes}">Profil</a>
                </li>
            </ul>
            <li class="navbar-brand">
                <img id="logoflipped" th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
        </nav>
        <nav class="navbar navbar-expand-xl justify-content-center kepnavbar">
            <ul class="navbar-nav kepnav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepFeltoltes}">Képfeltöltés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepek}">Összes kép</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kategoriak}">Kategóriák</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/telepulesek}">Települések</a>
                </li>
                <form class="nav-item form-inline" th:action="@{/kep/kereses}" method="post">
                    <select class="form-select lista mr-2" name="kereses">
                        <option value="cim">Cím</option>
                        <option value="felhasznalo">Felhasználó</option>
                        <option value="kategoria">Kategória</option>
                        <option value="kulcsszo">Kulcsszó</option>
                        <option value="telepules">Település</option>
                    </select>
                    <input class="form-control" type="search" placeholder="Keresés" aria-label="Search">
                    <button type="submit" class="btn nav-link" name="submit">Keresés</button>
                </form>
            </ul>
        </nav>
        <div class="container-fluid">
            <h2 class="text-danger" th:if="${kep == null}">Ez a kép nem létezik.</h2>
            <div th:if="${kep != null}">
                <img id="megtekintettkep" th:src="'data:image/png;base64,' + ${kep.getTartalom()}">
                <h2 th:text="${kep.getCim()}"></h2>
                <form th:if="${felhasznalo != null} and (${kep.getFelhasznalo_id() == felhasznalo.getId()} or ${felhasznalo.isAdmin()})" th:action="@{/kep/keptorles}" method="get" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${kep.getId()}">
                    <button type="submit" class="btn gomb shadow-none" name="submit">Törlés</button>
                </form>
            </div>
            <div>Feltöltötte:
                <a class="link" style="font-variant: normal;" th:href="@{/felhasznalo/profil/{id}(id=${kep.getFelhasznalo_id()})}" th:text="${kep.getFelhasznalo().getNev()}"></a>
            </div>
            <div>Ekkor: <span th:text="${kep.getIdopont()}"></span></div>
            <div>Csillagok átlag: <span th:text="${kep.getCsillagok()}"></span></div>
            <a class="link" th:href="@{/kep/ertekeles/{id}/csillag/{csillag}(id=${kep.getId()}, csillag=0)}">Értékelés törlése</a>
            <br>
            <a class="link" id="ertekeles" th:each="csillag : ${#numbers.sequence(1,5)}"
               th:href="@{/kep/ertekeles/{id}/csillag/{csillagok}(id=${kep.getId()}, csillagok=${csillag})}">
                *
            </a>
            <span id="kommentiras">
                <form class="mb-5" th:action="@{/kommentiras}" th:if="${felhasznalo != null}" method="get">
                    <div class="form-group">
                        <label>Komment írása:</label>
                        <textarea type="text" class="form-control" name="szoveg" required></textarea>
                    </div>
                    <input type="hidden" name="kep_id" th:value="${kep.getId()}">
                    <input type="hidden" name="felhasznalo_id" th:value="${felhasznalo.getId()}">
                    <button type="submit" class="btn gomb shadow-none" name="submit">Komment elküldése</button>
                </form>
            </span>
            <article th:each="komment : ${kommentek}">
                <div style="font-variant: normal; padding-top: 5px;" th:text="${komment.getFelhasznalo().getNev()}"></div>
                <span><small  th:text="${komment.getDateAsString()}"></small></span>
                <span th:if="${felhasznalo != null} and (${komment.getFelhasznalo_id() == felhasznalo.getId()} or ${felhasznalo.isAdmin()})">
                    <form id="kommentgomb" th:action="@{/kommenttorles}" method="get" enctype="multipart/form-data">
                        <input type="hidden" name="id" th:value="${komment.getId()}">
                        <input type="hidden" name="kep_id" th:value="${kep.getId()}">
                        <button type="submit" class="btn gomb shadow-none" name="submit">Törlés</button>
                    </form>
                </span>
                <hr>
                <p style="font-variant: normal;" th:text="${komment.getSzoveg()}"></p>
            </article>
        </div>
    </body>
</html>