<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/bejegyzes.css}">
        <link rel="icon" sizes="24x24" th:href="@{/HUmmingbird.png}">
        <title>Bejegyzés módosítás - HUmmingbird</title>
    </head>
    <body>
        <nav th:replace="/fomenu :: fomenu">
        </nav>
        <div class="container">
            <form th:action="@{/bejegyzesModositasExecute}" method="post">
                <div class="form-group w-50">
                    <label>Cím:</label>
                    <input type="text" class="form-control" name="cim" th:value="${bejegyzes.getCim()}">
                </div>
                <div class="form-group">
                    <label>Tartalom:</label>
                    <textarea type="text" class="form-control" name="tartalom" th:text="${bejegyzes.getSzoveg()}"></textarea>
                </div>
                <input type="hidden" name="id" th:value="${bejegyzes.getId()}">
                <button type="submit" class="btn gomb shadow-none" name="submit">Módosítás</button>
            </form>
        </div>
    </body>
</html>