<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/form.css}">
        <link rel="icon" sizes="24x24" th:href="@{/HUmmingbird.png}">
        <title>Bejelentkezés - HUmmingbird</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md justify-content-center">
            <li class="navbar-brand">
                <img th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/kep/kepek}">Képek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/versenyek}">Versenyek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/felhasznalo/bejelentkezes}">Profil</a>
                </li>
            </ul>
            <li class="navbar-brand">
                <img id="logoflipped" th:src="@{/HUmmingbird.png}" alt="HUmmingbird">
            </li>
        </nav>
        <div class="container">
            <div class="text-danger" th:if="${param.hiba}">
                Hibás Email cím vagy jelszó!
            </div>
            <div class="text-danger" th:if="${param.kijelentkezes}">
                Ki lettél jelentkezve!
            </div>
            <h2>
                Bejelentkezés
            </h2>
            <form th:action="@{/felhasznalo/bejelentkezes}" method="post">
                <div class="form-group">
                    <label>E-mail cím:</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label>Jelszó:</label>
                    <input type="password" class="form-control" name="jelszo" required>
                </div>
                <button type="submit" class="btn gomb" name="submit">Bejelentkezés</button>
            </form>
            <br>
            <b>
                Még nem regisztráltál?
            </b>
            <br>
            <form th:action="@{/felhasznalo/regisztracio}">
                <button type="submit" class="btn gomb" name="submit">Regisztráció</button>
            </form>
        </div>
    </body>
</html>